body {
  background-color: #000;
}

.splash {
  background-color: #000;
}

video {
  margin-top: -3em;
}

.logo {
  width: 23%;
  height: auto;
  margin: 0 37%;
}
hr {
  background-color: #fff;
}
.formulario {
  color: #fff;
  width: 31%;
  margin-left: 33%;
  margin-right: 30%;
  margin-top: 3%;
}

.formulario button {
  width: 100%;
  color: #fff;
  background-color: #ed1a23;
  border-color: #ed1a23;
}

.inicio {
  display: none;
}

.inicio #img-logo {
  width: 10%;
}

.inicio #perfil {
  margin-left: 2%;
}

.card{
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em;
}

.card-body{
  height: 10em;
}

.card-img-top{
  height: 10em;
}
