body {
  background-color: #000;
}

h3 {
  margin-top: 1em;
  color: #fff;
}
.splash {
  background-color: #000;
}

video {
  margin-top: -3em;
}

.logo {
  width: 23%;
  height: auto;
  margin: 0 37%;
}
.formulario hr {
  background-color: #fff;
}
.formulario {
  color: #fff;
  width: 31%;
  margin-left: 33%;
  margin-right: 30%;
  margin-top: 3%;
}

.formulario button {
  width: 100%;
  color: #fff;
  background-color: #ed1a23;
  border-color: #ed1a23;
}

.inicio {
  display: none;
}

.inicio #img-logo {
  width: 10%;
  cursor: pointer;
}

.inicio #perfil {
  margin-left: 2%;
}

.icon-heart:before {
  content: "\e9da";
  padding-right: 1em;
  font-size: 2em;
  color: #ed1a23;
}

#fav-icon {
  content: "\e9da"!important;
  color: #ed1a23;
  font-size: 10px;
}

.icon-plus:before {
  content: "\ea0a";
  padding-right: 1em;
}

#eliminar {
  margin-left: 3em;
  margin-top: -20px;
}

.cardFav {
  margin-top: 4em;
}

#cards {
  margin-top: 4em;
}



